@import "./nav.scss";
@import "./login.scss";
@import "./footer.scss";

:root{
  --main-color: #1da1f2;
  --dark-color: #14171a;
  --footer-link: #aab8c2;
  --footer-border: #e6ecf0;
  --footer-color: #fff;

}